<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542457497074-q8ndpc87r4upfm3vvqjmbus4hqai2eit.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542457497074-q8ndpc87r4upfm3vvqjmbus4hqai2eit</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>542457497074-884f5m0gmeug7uknahfc8egk0ikj25e4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRsbLjjXYDpf8spqqK6M21IVdsKkmwwkc</string>
	<key>GCM_SENDER_ID</key>
	<string>542457497074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sumitbagewadi.freezme</string>
	<key>PROJECT_ID</key>
	<string>freezme-844cc</string>
	<key>STORAGE_BUCKET</key>
	<string>freezme-844cc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542457497074:ios:657f31dd81085cd11e576b</string>
	<key>DATABASE_URL</key>
	<string>https://freezme-844cc-default-rtdb.firebaseio.com</string>
</dict>
</plist>